<div class="card bg-secondary mb-3 detail-card" *ngIf="this.doRender">
    <div class="card-header"><h5 class="card-title" style="color: white;">Weather forecast</h5></div>
    <div class="card-body">
        <button type="button" class="btn btn-danger" (click)="closeDetails()">Close details</button>
      <hr/>
      <div class="row">
        <div class="card col-4 cd">
          <div class="card-header">
            Holnap
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{forecastDataInformation.timezone}}</li>
            <li class="list-group-item">{{forecastDataInformation.daily[0].temp.day}}</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
  
        <div class="card col-4 cd">
          <div class="card-header">
            Holnap Után
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{forecastDataInformation.timezone}}</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
  
        <div class="card col-4 cd">
          <div class="card-header">
            Két nap múlva
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{forecastDataInformation.timezone}}</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      
    </div>
</div>

