<div class="about-content">
    <div class="card text-center">
        <div class="card-header">
          About this application...
        </div>
        <div class="card-body">
          <h5 class="card-title">This is a sample application</h5>
          <p class="card-text">This is an application made for developing skills in Angular, and experimenting with multiple components of the framework. This app uses openweathermap API for the current weather information.</p>
          <hr>
          <h5 class="card-title">What is Openweathermap?</h5>
          <p class="text-muted">
            Openweathermap is an API, with many free and paid services, that provide real time information about
            different locations of the Earth, such as temperature data, downfall infomration, windspeed and direction, etc...
          </p>
          <hr>
          <h5 class="card-title">What is Angular?</h5>
          <p class="text-muted">
            AngularJS is a JavaScript-based open-source front-end web framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications.

            AngularJS is used as the frontend of the MEAN stack, consisting of MongoDB database, 
            Express.js web application server framework, Angular.js itself, and Node.js server runtime environment. 
            Version 1.8.x is on Long Term Support until December 31st, 2021. 
            After that date Google will no longer update AngularJS and Angular (2.0+) is suggested instead.
            Companies looking for LTS beyond December 31st, 2021 can look at Extended LTS for AngularJS

            he AngularJS framework works by first reading the Hypertext Markup Language (HTML) page, which has an additional custom HTML attributes embedded into it. Angular interprets those attributes as directives to bind input or output parts of the page to a model that is represented by standard JavaScript variables. The values of those JavaScript variables can be manually set within the code, or retrieved from static or dynamic JSON resources.

            AngularJS is built on the belief that declarative programming should be used to create user interfaces and connect software components, while imperative programming is better suited to defining an application's business logic.
            The framework adapts and extends traditional HTML to present dynamic content through two-way data-binding that allows for the automatic synchronization of models and views. As a result, 
            AngularJS de-emphasizes explicit Document Object Model (DOM) manipulation with the goal of improving testability and performance.
          </p>
          <hr>
          <p style="text-align: right;"> Source: Wikipedia</p>
        </div>
        <div class="card-footer text-muted">
          by the developers
        </div>
      </div>
</div>